.wrapper {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

.page {
  border: 1px solid teal;
  cursor: pointer;
  padding: 4px;
  margin: 0 2px;
}

.current {
  border: 2px solid orange;
  font-weight: bold;
}